<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>
  <div class="card-section">
    <div class="row column">
      <fieldset>
        <div class="row column">
          <%= form.text_field :title %>
        </div>

        <div class="row column">
          <%= form.text_area :description %>
        </div>

        <div class="row column">
          <div class="row column">
            <%= label_tag(:shapefile) %> 
          </div>
          <legend style="color: #202734; margin-top: -8px; font-size: 13px"><strong><%= t(".attachment_max_size") %></strong></legend>
          <%= form.file_field :shapefile, optional: false, label: false %>
          <legend class="help-text"><%= t(".support_shape_overlaping") %></legend>
          <legend class="help-text"><%= t(".attachment_legend") %></legend>
          <legend class="help-text"><%= t(".attachment_format") %></legend>
        </div>
      </fieldset>
    </div>
  </div>
</div>
